<?xml version="1.0"?>
<robot name="factory_gear_base_loose">
    <link name="factory_gear_base_loose">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_gears/factory_gear_base_loose_space_5e-4_subdiv_4x.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_gears/factory_gear_base_loose_space_5e-4_subdiv_4x.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>