<?xml version="1.0"?>
<robot name="factory_gear_small">
    <link name="factory_gear_small">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_gears/factory_gear_small_space_5e-4.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_gears/factory_gear_small_space_5e-4.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>