<?xml version="1.0"?>
<robot name="factory_round_peg_12mm_loose">
    <link name="factory_round_peg_12mm_loose">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/factory_round_peg_12mm_loose.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/factory_round_peg_12mm_loose.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>