<?xml version="1.0"?>
<robot name="factory_nut_m12_loose">
    <link name="factory_nut_m12_loose">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_nut_bolt/factory_nut_m12_loose_subdiv_3x.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_nut_bolt/factory_nut_m12_loose_subdiv_3x.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
