<?xml version="1.0"?>
<robot name="factory_round_hole_8mm">
    <link name="factory_round_hole_8mm">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/factory_round_hole_8mm_subdiv_3x.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/factory_round_hole_8mm_subdiv_3x.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>