<?xml version="1.0"?>
<robot name="factory_dsub_plug">
    <link name="factory_dsub_plug">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/factory_dsub_plug_viz.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/factory_dsub_plug_coll.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>